# Week2. 그리디_개념

## 그리디 알고리즘(탐욕법)

* 현재 상황에서 지금 당장 좋은 것만 고르는 방법  
* 정당성 분석이 중요 : 단순히 가장 좋아 보이는 것을 반복적으로 선택해도 최적의 해를 구할 수 있는지 검토해야함    
* 탐욕적으로 얻은 해가 최적의 해가 되는 상황에서, 이를 추론할 수 있어야 풀리도록 출제함

## 1번

### 3-1. 거스름돈

#### Example answer

In [1]:
n = 1260
count = 0

# 큰 단위의 화폐부터 차례대로 확인
coins = [500, 100, 50, 10]

for coin in coins:
    count += n // coin # 해당 화폐로 거슬러 줄 수 있는 동전의 개수 세기
    n %= coin

print(count)

6

시간복잡도 : $O(K)$  
* K : 화폐의 종류  
화폐의 종류만큼 반복문이 실행되기 때문

## 2번. 큰 수의 법칙

#### My code

In [1]:
n, m, k = map(int, input().split())

data = list(map(int, input().split()))
data.sort()

first = data[n-1]
second = data[n-2]

result = 0

while True:
    for i in range(k):
        if m == 0:
            break
    result += first
    m -= 1
    if m == 0 :
        break
    result += second
    m -= 1 

print(result)

5 8 3
2 4 5 4 6
46

#### Example answer

In [6]:
n, m, k = map(int, input().split())

data = list(map(int, input().split()))
data.sort()

first = data[-1]
second = data[-2]

count = int(m / (k + 1)) * k  # first가 더해지는 횟수
count += m % (k + 1)

result = 0
result += first * count
result += second * (m - count)

print(result)

5 8 3
2 4 5 4 6
46

## 3번. 숫자 카드 게임

#### My code

In [3]:
n, m = map(int, input().split())

data = []
for i in range(n):
    row = list(map(int, input().split()))
    data.append(row)

print(max(list(map(min,data))))

2 4
7 3 1 8
3 3 3 4
3

#### Example answer

In [ ]:
# Example1

n, m = map(int, input().split())

result = 0

for i in range(n):
    data = list(map(int, input().split()))
    min_value = min(data)
    result = max(result, min_value)

print(result)

In [ ]:
# Example2

n, m = map(int, input().split())

result = 0

for i in range(n):
    data = list(map(int, input().split()))
    min_value = 10001
    for a in data:
        min_value = min(min_value, a)
        result = max(min_value, result)

print(result)

## 4번. 1이 될 때까지

* 주어진 N에 대하여 **최대한 많이 나누기**를 수행하면 됨!  
* 2 이상의 수로 나누는 작업이 1을 빼는 작업보다 수를 훨씬 많이 줄일 수 있음~

#### My code : 틀림

In [5]:
# 최솟값을 구해야한다는 조건을 고려하지 못함

n, k = map(int, input().split())

count = 0

while n > 1:

  if n % k == 0:
    n = n / k
    count += 1
  
  else:
    n = n-1
    count += 1

print(count)

25 5
2

#### Example answer

In [3]:
n, k = map(int, input().split())

count = 0

while n >= k:

    while n % k != 0:
        n -= 1 # n이 k로 나누어 떨어질때까지 n에서 1을 차감
        count += 1
      
    n = n / k
    count += 1

    
while n > 1:
    n -= 1
    count += 1

print(count)

25 5
2

In [4]:
n, k = map(int, input().split())

count = 0

while True:

    # (N==K로 나누어떨어지는 수)가 될 때까지 1씩 빼기
    target = (n // k) * k 
    count += n - target # k로 나누어 떨어지지 않아서 1씩 빼야하는 횟수
    n = target


    # N이 K보다 작을 때(더 이상 나눌 수 없을 때) 반복문 탈출
    if n < k:
        break

    # K로 나누기
    count += 1
    n //= k

# 마지막으로 남은 수에 대하여 1씩 빼기
count += n - 1
print(count)

25 5
2

이 문제의 경우, n과 k가 10만 이하의 정수로 조건이 걸려있기 때문에 이 방법으로 풀지 않아도 상관은 없으나, 만약 n과 k가 엄청나게 커진다면 이렇게 풀어야함  
  
* 시간복잡도 : $O(logN)$

## + 곱하기 혹은 더하기 (강의 문제)
  
* 각 자리가 숫자로만 이루어진 문자열 S가 주어졌을 때  
* 숫자 사이에 x 혹은 + 연산자를 넣어 결과적으로 만들어질 수 있는 가장 큰수를 구하는 프로그램을 작성하시오.  
* 단, 계산 순서는 무조건 왼쪽에서 오른쪽으로..!!

곱하기가 더 값을 크게 만들기 때문에, 두 수에 대하여 연산을 수행할 때 두 수 중에서 하나라도 1 이하인 경우에는 더하며, 두 수가 모두 2 이상인 경우에는 곱하면 정답

#### My code

In [11]:
n = input()
res = int(n[0])

for i in range(len(n)-1):
    if int(n[i+1]) >= 2:
        res = res * int(n[i+1])
    else:
        res = res + int(n[i+1])
print(res)

567
210

첫번째 수가 0일 경우를 고려하지 못함

#### Example answer

In [14]:
data = input()

result = int(data[0])

for i in range(1, len(data)):
    # 두 수 중에서 하나라도 0 또는 1일 경우, 곱하기 보다는 더하기 수행  
    num = int(data[i])
    if num <= 1 or res <= 1:
        result += num
    else:
        result *= num
        
print(result)

02984
23

## + 모험가 길드 (강의 문제)

* 한 마을에 모험가가 N명 있음  
* N명의 모험가를 대상으로 공포도를 측정함   
* 공포도가 X인 모험가는 반드시 X명 이상으로 구성한 모험가그룹에 참여해야 함  
* N명의 모험가에 대한 정보가 주어졌을 때, 여행을 떠날 수 있는 그룹 수의 최댓값을 구하시오

#### Idea  
공포도를 오름차순 정렬한 후, 앞에서부터 공포도를 하나씩 확인하며 현재 그룹에 포함된 모험가의 수가 현재 확인하고 있는 공포도보다 크거나 같다면 이를 그룹으로 설정

In [15]:
n = int(input())
data = list(map(int, input().split()))
data.sort()

result = 0 # 총 그룹의 수
count = 0 # 현재 그룹에 포함된 모험가의 수  

for i in data: # 공포도를 낮은 것부터 하나씩 확인
    count += 1 # 현재 그룹에 해당 모험가를 포함시키기
    if count > i: # 현재 그룹에 포함된 모험가의 수가, 현재의 공포도 이상이라면 그룹 결성
        result += 1 # 총 그룹의 수 증가시키기
        count = 0 # 현재그룹에 포함된 모험가의 수 초기화
        
print(result)

5
2 3 1 2 2
1